Repository jeremygu000/aws-bedrock-multipleagents-rag: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,mjs,cjs}": ["oxlint --tsconfig tsconfig.base.json --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

refactor: extract hardcoded values to config and add grader/repository tests (P2+P3)
  apps/rag-service/app/community_detection.py
  apps/rag-service/app/config.py
  apps/rag-service/app/crag.py
  apps/rag-service/app/decomposition_retriever.py
  apps/rag-service/app/faithfulness_grader.py
  apps/rag-service/app/main.py
  apps/rag-service/app/relevance_grader.py
  apps/rag-service/tests/test_faithfulness_grader.py
  apps/rag-service/tests/test_relevance_grader.py
  apps/rag-service/tests/test_repository_retrieve.py
Due: none

feat: initialize Query Decomposer, Community Detection, and Self-Reflection in lambda_tool
  apps/rag-service/lambda_tool.py
Due: none

fix: add numpy dependency for HyDE multi-hypothesis averaging
  apps/rag-service/pyproject.toml
Due: none

feat: scaffold Next.js 15 Multi Zones micro-frontend with MUI v6
  .gitignore
  apps/chat/app/chat/actions.ts
  apps/chat/app/chat/components/ChatContainer.tsx
  apps/chat/app/chat/components/ChatInput.tsx
  apps/chat/app/chat/components/ChatMessage.tsx
  apps/chat/app/chat/page.tsx
  apps/chat/app/globals.css
  apps/chat/app/layout.tsx
  apps/chat/next.config.ts
  apps/chat/package.json
  apps/chat/tsconfig.json
  apps/upload/app/globals.css
  apps/upload/app/layout.tsx
  apps/upload/app/upload/actions.ts
  apps/upload/app/upload/components/FileDropzone.tsx
  apps/upload/app/upload/components/FileList.tsx
  apps/upload/app/upload/components/UploadContainer.tsx
  apps/upload/app/upload/page.tsx
  apps/upload/next.config.ts
  apps/upload/package.json
  apps/upload/tsconfig.json
  apps/web/app/components/Sidebar.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/monitoring/page.tsx
  apps/web/app/page.tsx
  apps/web/app/settings/page.tsx
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/ui/package.json
  packages/ui/src/ThemeProvider.tsx
  packages/ui/src/index.ts
  packages/ui/src/theme.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

chore: add benchmark scripts and sync uv.lock with numpy dependency
  .gitignore
  apps/rag-service/uv.lock
  scripts/benchmark_features.sh
  scripts/ragas_baseline.py
Due: none

docs: add comprehensive Next.js Lambda multi-zones deployment decision & comparison matrix
  docs/adr-nextjs-lambda-deployment-2026.md
  docs/nextjs-lambda-deployment-matrix-2026.md
Due: prettier --write

docs: add Next.js Lambda deployment startup guide with version upgrade decision tree
  docs/nextjs-lambda-deployment-startup-guide.md
Due: prettier --write

feat: RAGAS baseline infrastructure with 6-configuration evaluation suite
  benchmarks/ragas-baselines/baseline-all-disabled-2026-04-12.json
  benchmarks/ragas-baselines/baseline-all-enabled-2026-04-12.json
  benchmarks/ragas-baselines/baseline-community-enabled-2026-04-12.json
  benchmarks/ragas-baselines/baseline-decomposition-enabled-2026-04-12.json
  benchmarks/ragas-baselines/baseline-hyde-enabled-2026-04-12.json
  benchmarks/ragas-baselines/baseline-reflection-enabled-2026-04-12.json
  packages/infra-cdk/package.json
  pnpm-lock.yaml
  scripts/ragas_baseline.py
Due: prettier --write

docs: complete Phase 1 feature benchmark infrastructure validation & add GitHub Actions CI/CD
  .github/workflows/ragas-regression-detection.yml
  docs/feature-benchmark-phase1-validation-2026-04.md
Due: prettier --write

feat: deploy Next.js Multi Zones to AWS Lambda via cdk-opennext
  .gitignore
  apps/chat/next.config.ts
  apps/chat/open-next.config.ts
  apps/upload/next.config.ts
  apps/upload/open-next.config.ts
  apps/web/next.config.ts
  apps/web/open-next.config.ts
  docs/adr-nextjs-lambda-multi-zones-phase2-architecture.md
  docs/nextjs-lambda-multi-zones-implementation-checklist.md
  docs/nextjs-multizones-deployment-guide.md
  package.json
  packages/infra-cdk/bin/app.ts
  packages/infra-cdk/lib/frontend-stack.ts
  pnpm-lock.yaml
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

fix: resolve lint errors in frontend-stack (unused import + type-only import)
  packages/infra-cdk/lib/frontend-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

fix: move chat/upload pages to app root to fix basePath double-prefix 404
  apps/chat/app/actions.ts
  apps/chat/app/components/ChatContainer.tsx
  apps/chat/app/components/ChatInput.tsx
  apps/chat/app/components/ChatMessage.tsx
  apps/chat/app/page.tsx
  apps/upload/app/actions.ts
  apps/upload/app/components/FileDropzone.tsx
  apps/upload/app/components/FileList.tsx
  apps/upload/app/components/UploadContainer.tsx
  apps/upload/app/page.tsx
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write
