Repository jeremygu000/aws-bedrock-multipleagents-rag: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,mjs,cjs}": ["oxlint --tsconfig tsconfig.base.json --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: add evaluator runner and enhance agent evaluation capabilities
  .oxlintrc.json
  README.md
  package.json
  pnpm-lock.yaml
  scripts/eval-agent.ts
  scripts/examples/agent-eval.example.jsonl
  scripts/lib/bedrock-agent-client.ts
  scripts/test-agent.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: Add RAGAS and rule-based work search evaluation scripts with updated documentation, examples, and configuration.
  .env.example
  .envrc.example
  .gitignore
  README.md
  package.json
  requirements-ragas.txt
  scripts/eval-agent.ts
  scripts/eval-work-search.ts
  scripts/examples/agent-eval.example.jsonl
  scripts/ragas_eval.py
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

fix: add bedrock-eval directory to .prettierignore
  .prettierignore
Due: none

feat: Implement supervisor tool for intent detection and result reranking with API integration
  .oxlintrc.json
  package.json
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  packages/shared/src/index.ts
  packages/shared/src/intentTypes.ts
  packages/shared/src/openapi/supervisor.yaml
  packages/tool-supervisor/package.json
  packages/tool-supervisor/src/handler.ts
  packages/tool-supervisor/src/intentDetector.ts
  packages/tool-supervisor/src/reranker.ts
  packages/tool-supervisor/tsconfig.json
  pnpm-lock.yaml
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

build: Upgrade Lambda runtimes to Node.js 22.x.
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: Add gateway Lambda function and update supervisor tool for enhanced intent processing and reranking
  package.json
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  packages/tool-supervisor/src/handler.ts
  packages/tool-supervisor/src/reranker.ts
  pnpm-lock.yaml
  scripts/test-gateway.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: disable `node/no-process-env` for test gateway script, update Bedrock rerank IAM action to `bedrock-agent-runtime`, and add agent `skipResourceInUseCheckOnDelete`.
  .oxlintrc.json
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: enhance query rewriting and reranking in supervisor tool, update Lambda function permissions, and improve test gateway script output
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  packages/tool-supervisor/package.json
  packages/tool-supervisor/src/handler.ts
  packages/tool-supervisor/src/queryRewriter.ts
  packages/tool-supervisor/src/reranker.ts
  pnpm-lock.yaml
  scripts/test-gateway.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: refactor handler and query rewriter for improved readability, add traceId to response, and enhance test gateway output with chalk
  .oxlintrc.json
  packages/tool-supervisor/src/handler.ts
  packages/tool-supervisor/src/queryRewriter.ts
  scripts/test-gateway.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: implement clarification generation for ambiguous intents in handler and intent detector
  packages/tool-supervisor/src/clarifier.ts
  packages/tool-supervisor/src/handler.ts
  packages/tool-supervisor/src/intentDetector.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: add error metadata tracing in clarification generation and intent detection
  packages/tool-supervisor/src/clarifier.ts
  packages/tool-supervisor/src/intentDetector.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: integrate DynamoDB for session memory management and enhance handler with memory context
  .oxlintrc.json
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  packages/tool-supervisor/package.json
  packages/tool-supervisor/src/handler.ts
  packages/tool-supervisor/src/memoryManager.ts
  pnpm-lock.yaml
  scripts/test-gateway.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: update README with detailed Gateway request flow and testing instructions; add deploy timestamp to stack configuration
  README.md
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: add Neo4j data stack with customizable parameters and update deployment scripts
  README.md
  package.json
  packages/infra-cdk/bin/app.ts
  packages/infra-cdk/cdk.context.json
  packages/infra-cdk/lib/neo4j-data-stack.ts
  packages/infra-cdk/package.json
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: add Monitoring EC2 stack for Grafana with lifecycle management and update deployment scripts
  README.md
  package.json
  packages/infra-cdk/bin/app.ts
  packages/infra-cdk/lib/monitoring-ec2-stack.ts
  scripts/power-instances.sh
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: add RAG service with FastAPI, LangGraph workflow, Qwen integration, and PostgreSQL BM25 retrieval
  apps/rag-service/README.md
  apps/rag-service/app/__init__.py
  apps/rag-service/app/answer_generator.py
  apps/rag-service/app/bedrock_action.py
  apps/rag-service/app/config.py
  apps/rag-service/app/main.py
  apps/rag-service/app/models.py
  apps/rag-service/app/query_processing.py
  apps/rag-service/app/qwen_client.py
  apps/rag-service/app/repository.py
  apps/rag-service/app/secrets.py
  apps/rag-service/app/workflow.py
  apps/rag-service/lambda_tool.py
  apps/rag-service/pyproject.toml
  apps/rag-service/requirements.txt
  apps/rag-service/tests/test_answer_generator.py
  apps/rag-service/tests/test_bedrock_action.py
  apps/rag-service/tests/test_query_processing.py
  apps/rag-service/tests/test_qwen_client.py
  apps/rag-service/tests/test_secrets.py
  apps/rag-service/tests/test_workflow.py
  apps/rag-service/uv.lock
Due: prettier --write

feat: add CDK infrastructure for RAG service with OpenSearch domain and env config
  .env.example
  packages/infra-cdk/bin/app.ts
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  packages/infra-cdk/package.json
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: add RAG service workspace scripts, docs, and update project configuration
  .gitignore
  README.md
  docs/hybrid-rag-execution-plan.md
  docs/phase1-phase2-migration-checklist.md
  docs/postgres-pgvector-ddl.sql
  docs/qwen-plus-entity-extraction-spec.md
  docs/rag-hallucination-risk-analysis.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add hybrid OpenSearch retrieval, LLM reranking, keyword extraction, and structured evidence prompts
  apps/rag-service/README.md
  apps/rag-service/app/answer_generator.py
  apps/rag-service/app/config.py
  apps/rag-service/app/models.py
  apps/rag-service/app/query_processing.py
  apps/rag-service/app/qwen_client.py
  apps/rag-service/app/repository.py
  apps/rag-service/app/reranker.py
  apps/rag-service/app/workflow.py
  apps/rag-service/pyproject.toml
  apps/rag-service/requirements.txt
  apps/rag-service/tests/test_answer_generator.py
  apps/rag-service/tests/test_query_processing.py
  apps/rag-service/tests/test_qwen_client.py
  apps/rag-service/tests/test_repository_opensearch.py
  apps/rag-service/tests/test_reranker.py
  apps/rag-service/tests/test_workflow.py
  apps/rag-service/uv.lock
Due: prettier --write

docs: add LightRAG migration plan and update hallucination risk analysis
  docs/lightrag-migration-plan.md
  docs/rag-hallucination-risk-analysis.md
Due: prettier --write

feat: add AGENTS.md guidelines and update CDK/env config for hybrid retrieval
  .codex/AGENTS.md
  .env.example
  apps/rag-service/AGENTS.md
  packages/infra-cdk/AGENTS.md
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  packages/tool-supervisor/AGENTS.md
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

docs: update READMEs with Phase 1 LightRAG features, 9-node workflow, and migration roadmap
  README.md
  apps/rag-service/README.md
Due: prettier --write

feat: Implement document ingestion pipeline with multi-format support
  apps/rag-service/app/chunker.py
  apps/rag-service/app/config.py
  apps/rag-service/app/document_parser.py
  apps/rag-service/app/ingestion_models.py
  apps/rag-service/app/qwen_client.py
  apps/rag-service/tests/fixtures/sample.html
  apps/rag-service/tests/fixtures/sample.md
  apps/rag-service/tests/fixtures/sample.txt
  apps/rag-service/tests/test_chunker.py
  apps/rag-service/tests/test_document_parser.py
  apps/rag-service/tests/test_qwen_client.py
  docs/phase1.5-document-ingestion-plan.md
Due: prettier --write

feat: Refactor ingestion repository and add unit tests for ingestion operations
  apps/rag-service/app/config.py
  apps/rag-service/app/document_parser.py
  apps/rag-service/app/ingestion_repository.py
  apps/rag-service/app/models.py
  apps/rag-service/app/query_processing.py
  apps/rag-service/app/reranker.py
  apps/rag-service/tests/test_chunker.py
  apps/rag-service/tests/test_document_parser.py
  apps/rag-service/tests/test_ingestion_repository.py
  apps/rag-service/tests/test_query_processing.py
  apps/rag-service/tests/test_reranker.py
  apps/rag-service/tests/test_workflow.py
Due: none

feat: add document ingestion pipeline orchestrator with parse-chunk-embed-store flow
  apps/rag-service/app/ingestion.py
  apps/rag-service/tests/test_ingestion.py
Due: none

feat: add document upload endpoint and ingestion status API
  apps/rag-service/app/ingestion_repository.py
  apps/rag-service/app/main.py
  apps/rag-service/pyproject.toml
  apps/rag-service/requirements.txt
  apps/rag-service/tests/test_upload_endpoint.py
  apps/rag-service/uv.lock
Due: none

feat: add SQS-triggered ingestion Lambda handler with partial batch failure
  apps/rag-service/conftest.py
  apps/rag-service/ingestion_handler.py
  apps/rag-service/tests/test_ingestion_handler.py
Due: none

feat: add CDK infrastructure for document ingestion pipeline
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

docs: add ingestion pipeline env vars and API documentation
  .env.example
  apps/rag-service/README.md
Due: prettier --write

feat: add Lambda Layer for document parsing dependencies (pymupdf, python-docx, bs4, lxml)
  apps/rag-service/layers/doc-parsing/requirements.txt
  apps/rag-service/tests/test_ingestion.py
  apps/rag-service/tests/test_ingestion_handler.py
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

fix: exclude dev artifacts from PythonFunction Docker bundling (assetExcludes)
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

fix: prevent pytest from collecting cdk.out bundled test files
  apps/rag-service/pyproject.toml
  package.json
Due: prettier --write

feat: make OpenSearch optional, remove DocParsingLayer, add Elasticsearch Docker to monitoring EC2
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  packages/infra-cdk/lib/monitoring-ec2-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: make ES auth conditional (SigV4 vs no-auth) and wire EC2 Elasticsearch endpoint
  apps/rag-service/app/config.py
  apps/rag-service/app/ingestion_repository.py
  apps/rag-service/app/repository.py
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

docs: add kb_chunks index schema and RAG_OPENSEARCH_USE_SIGV4 to README
  apps/rag-service/README.md
Due: prettier --write

feat: update database connection string format and add logging to lambda tool
  apps/rag-service/app/config.py
  apps/rag-service/app/ingestion_repository.py
  apps/rag-service/app/repository.py
  apps/rag-service/lambda_tool.py
Due: none

refactor: move logger initialization to a more appropriate location in lambda_tool.py
  apps/rag-service/lambda_tool.py
Due: none

feat: enhance answer generation with intent-aware prompts and relevance scoring
  apps/rag-service/app/answer_generator.py
  apps/rag-service/app/config.py
  apps/rag-service/app/workflow.py
  apps/rag-service/lambda_tool.py
  apps/rag-service/tests/test_answer_generator.py
  apps/rag-service/tests/test_workflow.py
Due: none

feat: implement entity extraction functionality with configurable settings and extraction models
  apps/rag-service/app/config.py
  apps/rag-service/app/entity_extraction.py
  apps/rag-service/app/entity_extraction_models.py
  apps/rag-service/app/prompts.py
  apps/rag-service/tests/test_entity_extraction.py
Due: none

feat: add entity summary max tokens setting and enhance entity extraction models with source chunk tracking
  apps/rag-service/app/config.py
  apps/rag-service/app/entity_extraction.py
  apps/rag-service/app/entity_extraction_models.py
  apps/rag-service/app/prompts.py
  apps/rag-service/tests/test_entity_extraction.py
Due: none
