Repository jeremygu000/aws-bedrock-multipleagents-rag: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,mjs,cjs}": ["oxlint --tsconfig tsconfig.base.json --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Add RAGAS timeout config and archive golden evaluation set
  eval/golden-set.jsonl
  scripts/ragas_eval.py
Due: none

Upgrade to Nova Pro and fix agent clarification behavior
  apps/rag-service/app/answer_generator.py
  apps/rag-service/app/config.py
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  packages/tool-supervisor/src/clarifier.ts
  packages/tool-supervisor/src/intentDetector.ts
  packages/tool-supervisor/src/memoryManager.ts
  packages/tool-supervisor/src/queryRewriter.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

Fix test assertion for Nova Pro model ID and add user_input field to eval runner
  apps/rag-service/tests/test_answer_generator.py
  scripts/eval-agent.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

Fix CDK alias auto-update, fix RAGAS model params, update baseline v3
  eval/baselines/metrics-v1.json
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  scripts/ragas_eval.py
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

fix: enable hybrid search (BM25 + Neo4j graph) in Lambda
  apps/rag-service/app/graph_repository.py
  apps/rag-service/requirements.txt
  apps/rag-service/tests/test_graph_repository.py
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: complete P0 RAGAS CI/CD pipeline + project docs
  .github/workflows/rag-eval-schedule.yml
  .github/workflows/update-ragas-baseline.yml
  .gitignore
  CONTRIBUTING.md
  LICENSE
  RELEASE.md
  eval/baselines/metrics-v1.json
  eval/thresholds.json
Due: prettier --write

feat: add CRAG module with retrieval grading, query rewriting, and web search
  .gitignore
  apps/rag-service/app/config.py
  apps/rag-service/app/crag.py
  apps/rag-service/app/workflow.py
  apps/rag-service/tests/test_crag.py
Due: none

docs: add CRAG design document with implementation status
  .gitignore
  docs/crag-design.md
Due: prettier --write

fix: wire CRAG components into workflow entrypoints and add CDK env vars
  apps/rag-service/app/crag.py
  apps/rag-service/app/main.py
  apps/rag-service/app/workflow.py
  apps/rag-service/lambda_tool.py
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: migrate CRAG to Bedrock converse API, relax guardrail, add docs
  apps/rag-service/app/crag.py
  apps/rag-service/app/main.py
  apps/rag-service/lambda_tool.py
  apps/rag-service/tests/test_crag.py
  docs/crag-design.md
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: add HyDE (Hypothetical Document Embeddings) production implementation
  apps/rag-service/app/hyde_integration_example.py
  apps/rag-service/app/hyde_retriever.py
  apps/rag-service/app/query_router.py
  apps/rag-service/tests/test_hyde_retriever.py
  apps/rag-service/tests/test_query_router.py
  cdk.context.json
  docs/hyde-production-guide.md
Due: prettier --write

docs: add HyDE technical design document (1236 lines, full implementation specification)
  apps/rag-service/app/hyde_retriever.py
  apps/rag-service/app/query_router.py
  apps/rag-service/tests/test_hyde_retriever.py
  apps/rag-service/tests/test_query_router.py
  docs/hyde-design.md
Due: prettier --write

feat: integrate HyDE pre-retrieval query expansion into RAG workflow
  apps/rag-service/app/config.py
  apps/rag-service/app/workflow.py
  apps/rag-service/lambda_tool.py
Due: none

fix: resolve lint errors and test failures in HyDE modules, gitignore design doc
  .gitignore
  apps/rag-service/app/hyde_retriever.py
  apps/rag-service/tests/test_query_router.py
  docs/hyde-design.md
Due: prettier --write

feat: add HyDE CDK env vars, production logging, and expanded eval dataset
  .gitignore
  apps/rag-service/app/hyde_retriever.py
  apps/rag-service/app/query_router.py
  apps/rag-service/app/workflow.py
  apps/rag-service/lambda_tool.py
  packages/infra-cdk/lib/bedrock-agents-stack.ts
  scripts/examples/agent-eval.example.jsonl
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: add query decomposition (P4) with 7-rule routing, Bedrock LLM sub-question generation, and graceful fallback
  .gitignore
  apps/rag-service/app/config.py
  apps/rag-service/app/decomposition_retriever.py
  apps/rag-service/app/query_decomposer.py
  apps/rag-service/app/workflow.py
  apps/rag-service/tests/test_query_decomposer.py
Due: none

feat: integrate DecompositionRetriever into workflow retrieve pipeline
  apps/rag-service/app/workflow.py
Due: none

feat: integrate DecompositionRetriever into main.py workflow builder and fix integration tests
  .gitignore
  apps/rag-service/app/main.py
  apps/rag-service/tests/test_decomposition_retriever_integration.py
Due: none

feat: add Leiden community detection (Phase 3.5) with hierarchical summarization and workflow integration
  apps/rag-service/app/answer_generator.py
  apps/rag-service/app/community_detection.py
  apps/rag-service/app/config.py
  apps/rag-service/app/main.py
  apps/rag-service/app/workflow.py
  apps/rag-service/pyproject.toml
  apps/rag-service/tests/test_community_detection.py
  apps/rag-service/tests/test_decomposition_retriever_integration.py
  apps/rag-service/tests/test_workflow.py
  apps/rag-service/uv.lock
Due: none

fix: migrate RAGAS evaluator from deprecated LangchainLLMWrapper to LiteLLM AsyncInstructor
  scripts/ragas_eval.py
Due: none

feat: community detection A/B testing — disable guardrails, fix CDK alias cache bug
  .gitignore
  apps/rag-service/app/community_detection.py
  apps/rag-service/scripts/populate_communities.py
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: add Self-Reflection production implementation for hallucination detection
  .gitignore
  apps/rag-service/app/adaptive_reflection_router.py
  apps/rag-service/app/faithfulness_grader.py
  apps/rag-service/app/relevance_grader.py
  apps/rag-service/app/self_reflection_models.py
  apps/rag-service/app/self_reflection_node.py
  apps/rag-service/tests/test_self_reflection_node.py
  docs/adr-self-reflection.md
  docs/self-reflection-integration-guide.md
Due: prettier --write

feat: integrate Self-Reflection into RAG workflow with config, routing, and grading pipeline
  apps/rag-service/app/adaptive_reflection_router.py
  apps/rag-service/app/config.py
  apps/rag-service/app/faithfulness_grader.py
  apps/rag-service/app/main.py
  apps/rag-service/app/relevance_grader.py
  apps/rag-service/app/self_reflection_node.py
  apps/rag-service/app/workflow.py
  apps/rag-service/tests/test_self_reflection_node.py
Due: none

fix: self-reflection V2 — 5 bug fixes, Bedrock Nova Pro graders, observability logging
  .gitignore
  apps/rag-service/app/adaptive_reflection_router.py
  apps/rag-service/app/faithfulness_grader.py
  apps/rag-service/app/main.py
  apps/rag-service/app/relevance_grader.py
  apps/rag-service/app/self_reflection_node.py
  apps/rag-service/app/workflow.py
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

fix: reduce RAGAS eval concurrency for Haiku geo inference rate limits
  scripts/ragas_eval.py
Due: none

feat: upgrade RAG pipeline to Nova 2 Lite (global inference profile)
  apps/rag-service/app/config.py
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

chore: expand eval dataset to 30 rows (22 QA + 8 work-search)
  scripts/examples/agent-eval.example.jsonl
Due: none

chore: add redress + pytest dev deps, fix model ID assertion in test
  apps/rag-service/pyproject.toml
  apps/rag-service/tests/test_answer_generator.py
  apps/rag-service/uv.lock
Due: none

improve: enhance answer prompts and eval references for factual correctness
  apps/rag-service/app/answer_generator.py
  docs/ragas-reference-writing-guide.md
  scripts/examples/agent-eval.example.jsonl
Due: prettier --write

improve: optimize RAGAS RunConfig (25x faster) and rewrite weak eval references
  scripts/examples/agent-eval.example.jsonl
  scripts/ragas_eval.py
Due: none

fix: increase RAGAS judge max_tokens to 8192 to prevent claim extraction truncation
  scripts/ragas_eval.py
Due: none

fix: switch crawl ingestion to markdown source and fix upsert constraint violation
  apps/rag-service/app/ingestion_repository.py
  apps/rag-service/scripts/crawl_ingest.py
  apps/rag-service/scripts/test_crawl_distribution.py
Due: none

fix: add retry logic and timeout config to Bedrock agent eval scripts
  scripts/eval-agent.ts
  scripts/lib/bedrock-agent-client.ts
  scripts/ragas_eval.py
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

feat: parameterise Bedrock agent orchestration temperature via CDK context
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

test: add DecompositionRetriever unit tests (25 cases)
  apps/rag-service/tests/test_decomposition_retriever.py
Due: none

feat: wire HyDE retriever into RAG workflow via BedrockLLMAdapter
  apps/rag-service/app/hyde_retriever.py
  apps/rag-service/app/main.py
  apps/rag-service/scripts/test_crawl_distribution.py
  apps/rag-service/tests/test_decomposition_retriever.py
Due: none

test: expand HyDE retriever tests (67 cases) and add self-reflection tests (77 cases)
  apps/rag-service/tests/test_hyde_retriever.py
  apps/rag-service/tests/test_self_reflection.py
Due: none

test: add query decomposition edge-case tests and ADR document
  apps/rag-service/tests/test_query_decomposer.py
  docs/adr-query-decomposition.md
Due: prettier --write

fix: remove unused variable to satisfy ruff F841
  apps/rag-service/tests/test_query_decomposer.py
Due: none

fix: remove dead code and harden TS error handling
  apps/rag-service/app/hyde_integration_example.py
  apps/rag-service/app/query_router.py
  apps/rag-service/tests/test_query_router.py
  packages/tool-supervisor/src/handler.ts
  packages/tool-supervisor/src/queryRewriter.ts
  packages/tool-supervisor/src/reranker.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write
