Repository jeremygu000/aws-bedrock-multipleagents-rag: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,mjs,cjs}": ["oxlint --tsconfig tsconfig.base.json --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: Implement caching strategy for rag-service
  apps/rag-service/app/config.py
  apps/rag-service/app/graph_repository.py
  apps/rag-service/app/secrets.py
  apps/rag-service/pyproject.toml
  apps/rag-service/tests/test_graph_repository.py
  apps/rag-service/uv.lock
  docs/rag-caching-plan.md
  docs/rag-caching-research.md
Due: prettier --write

Add entity vector store functionality and related tests
  apps/rag-service/app/config.py
  apps/rag-service/app/entity_vector_store.py
  apps/rag-service/app/ingestion.py
  apps/rag-service/app/ingestion_models.py
  apps/rag-service/tests/test_entity_vector_store.py
  apps/rag-service/tests/test_ingestion.py
  docs/entity-vector-store-ddl.sql
Due: none

feat: Implement graph-enhanced retrieval with configurable settings and models
  apps/rag-service/app/config.py
  apps/rag-service/app/graph_retriever.py
  apps/rag-service/app/models.py
  apps/rag-service/tests/test_graph_retriever.py
Due: none

feat: Enhance retrieval mode logic and integrate graph retrieval into workflow
  apps/rag-service/app/graph_retriever.py
  apps/rag-service/app/models.py
  apps/rag-service/app/query_processing.py
  apps/rag-service/app/workflow.py
  apps/rag-service/lambda_tool.py
  apps/rag-service/tests/test_query_processing.py
  apps/rag-service/tests/test_workflow.py
Due: none

feat: Implement graph chunk fusion and enhance retrieval workflow with weighted scoring
  apps/rag-service/app/config.py
  apps/rag-service/app/hybrid_fusion.py
  apps/rag-service/app/repository.py
  apps/rag-service/app/workflow.py
  apps/rag-service/tests/test_hybrid_fusion.py
  apps/rag-service/tests/test_workflow.py
Due: none

feat: Integrate graph context into answer generation and workflow processes
  apps/rag-service/app/answer_generator.py
  apps/rag-service/app/workflow.py
  apps/rag-service/tests/test_answer_generator.py
  apps/rag-service/tests/test_workflow.py
Due: none

feat: Implement knowledge graph construction and graph-enhanced retrieval features
  README.md
  apps/rag-service/README.md
  docs/lightrag-migration-plan.md
Due: prettier --write

L2 - Query Result Cache
  apps/rag-service/app/config.py
  apps/rag-service/app/query_cache.py
  apps/rag-service/app/workflow.py
  apps/rag-service/tests/test_query_cache.py
  apps/rag-service/tests/test_workflow.py
  docs/rag-caching-plan.md
Due: prettier --write

Incremental + deletion
  apps/rag-service/app/document_manager.py
  apps/rag-service/app/graph_repository.py
  apps/rag-service/app/ingestion_models.py
  apps/rag-service/app/ingestion_repository.py
  apps/rag-service/app/main.py
  apps/rag-service/tests/test_delete_endpoint.py
  apps/rag-service/tests/test_document_manager.py
  apps/rag-service/tests/test_graph_repository.py
  apps/rag-service/tests/test_ingestion_repository.py
  docs/rag-gap-analysis.md
Due: prettier --write

add Evaluation Framework
  apps/rag-service/app/config.py
  apps/rag-service/app/eval_metrics.py
  apps/rag-service/pyproject.toml
  apps/rag-service/tests/eval/__init__.py
  apps/rag-service/tests/eval/conftest.py
  apps/rag-service/tests/eval/golden_dataset.json
  apps/rag-service/tests/eval/test_deepeval_quality.py
  apps/rag-service/tests/eval/test_graph_metrics.py
  apps/rag-service/tests/eval/test_ragas_benchmark.py
  apps/rag-service/uv.lock
  docs/rag-gap-analysis.md
Due: prettier --write

Streaming SSE
  apps/rag-service/app/answer_generator.py
  apps/rag-service/app/config.py
  apps/rag-service/app/main.py
  apps/rag-service/app/models.py
  apps/rag-service/app/qwen_client.py
  apps/rag-service/app/workflow.py
  apps/rag-service/pyproject.toml
  apps/rag-service/tests/test_answer_generator.py
  apps/rag-service/tests/test_streaming.py
  apps/rag-service/uv.lock
  docs/rag-gap-analysis.md
Due: prettier --write

add gleaning
  apps/rag-service/app/config.py
  apps/rag-service/app/entity_extraction.py
  apps/rag-service/app/ingestion.py
  apps/rag-service/app/prompts.py
  apps/rag-service/tests/test_entity_extraction.py
  docs/rag-gap-analysis.md
Due: prettier --write

add PhoenixEc2Stack for obserbility
  apps/rag-service/app/answer_generator.py
  apps/rag-service/app/config.py
  apps/rag-service/app/main.py
  apps/rag-service/app/tracing.py
  apps/rag-service/app/workflow.py
  apps/rag-service/pyproject.toml
  apps/rag-service/tests/test_tracing.py
  apps/rag-service/uv.lock
  docs/rag-gap-analysis.md
  package.json
  packages/infra-cdk/bin/app.ts
  packages/infra-cdk/lib/phoenix-ec2-stack.ts
  scripts/power-instances.sh
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

update docs
  docs/rag-gap-analysis.md
Due: prettier --write

Crawl4AI tested with small batch(5 urls)
  apps/rag-service/app/entity_vector_store.py
  apps/rag-service/app/ingestion_repository.py
  apps/rag-service/app/main.py
  apps/rag-service/app/query_cache.py
  apps/rag-service/app/repository.py
  apps/rag-service/pyproject.toml
  apps/rag-service/scripts/__init__.py
  apps/rag-service/scripts/__main__.py
  apps/rag-service/scripts/apra_urls.txt
  apps/rag-service/scripts/crawl_ingest.py
  apps/rag-service/tests/test_entity_extraction.py
  apps/rag-service/tests/test_graph_repository.py
  apps/rag-service/uv.lock
Due: none

add Standalone entity extraction, resilience policies via redress
  apps/rag-service/pyproject.toml
  apps/rag-service/scripts/crawl_ingest.py
  apps/rag-service/scripts/extract_entities.py
Due: none

Backfill OpenSearch/Elasticsearch index from existing PostgreSQL chunks
  apps/rag-service/scripts/backfill_opensearch.py
  docs/experiment-journal-ingest-query.md
Due: prettier --write

Refactor SQL upsert statements to use COALESCE for handling null values in aliases and source_chunk_ids
  apps/rag-service/app/entity_vector_store.py
  docs/experiment-journal-ingest-query.md
Due: prettier --write

fix json with json_repair
  apps/rag-service/app/entity_extraction.py
  apps/rag-service/pyproject.toml
  apps/rag-service/tests/test_entity_extraction.py
  apps/rag-service/uv.lock
Due: none

Fix entity extraction and backfill process
  apps/rag-service/app/config.py
  apps/rag-service/app/ingestion.py
  apps/rag-service/scripts/backfill_pgvector_from_neo4j.py
  apps/rag-service/scripts/verify_entity_data.py
  docs/experiment-journal-ingest-query.md
Due: prettier --write

Fix backfill summary print statement formatting
  apps/rag-service/scripts/backfill_pgvector_from_neo4j.py
Due: none

Enhance entity retrieval with text search and improve Cypher queries
  apps/rag-service/app/entity_vector_store.py
  apps/rag-service/app/graph_repository.py
  apps/rag-service/app/graph_retriever.py
  apps/rag-service/scripts/test_rag_queries.py
  apps/rag-service/tests/test_entity_vector_store.py
  apps/rag-service/tests/test_graph_retriever.py
Due: none

Refactor evaluation tests to utilize pipeline results
  apps/rag-service/scripts/eval_runner.py
  apps/rag-service/tests/eval/conftest.py
  apps/rag-service/tests/eval/golden_dataset.json
  apps/rag-service/tests/eval/test_deepeval_quality.py
  apps/rag-service/tests/eval/test_ragas_benchmark.py
Due: prettier --write

Enhance entity extraction logging and improve relation endpoint resolution
  apps/rag-service/app/entity_extraction.py
  apps/rag-service/app/entity_extraction_models.py
  apps/rag-service/app/prompts.py
  apps/rag-service/scripts/debug_neo4j_neighbors.py
  apps/rag-service/scripts/debug_relation_extraction.py
  packages/infra-cdk/lib/neo4j-data-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

Refactor debug_relation_extraction.py and eval_runner.py for improved clarity and consistency
  apps/rag-service/scripts/debug_relation_extraction.py
  apps/rag-service/scripts/eval_runner.py
Due: none

Enhance entity extraction configuration and improve relation extraction quality by updating prompts and logging
  apps/rag-service/app/config.py
  apps/rag-service/app/entity_extraction.py
  apps/rag-service/app/entity_extraction_models.py
  apps/rag-service/app/ingestion.py
  apps/rag-service/app/prompts.py
  apps/rag-service/app/qwen_client.py
  apps/rag-service/scripts/debug_relation_extraction.py
  docs/experiment-journal-ingest-query.md
Due: prettier --write

Enhance QwenClient with retry logic for transient network errors and update test timeout
  apps/rag-service/app/qwen_client.py
  apps/rag-service/pyproject.toml
  apps/rag-service/scripts/test_gliner_glirel.py
  apps/rag-service/tests/test_qwen_client.py
  apps/rag-service/uv.lock
Due: none

Migrate RAG service from DashScope to local Ollama (chat) and Bedrock Titan Embed v2 (embedding)
  .gitignore
  apps/rag-service/app/bedrock_embedding_client.py
  apps/rag-service/app/config.py
  apps/rag-service/app/embedding_factory.py
  apps/rag-service/app/entity_extraction.py
  apps/rag-service/app/graph_retriever.py
  apps/rag-service/app/ingestion.py
  apps/rag-service/app/main.py
  apps/rag-service/app/prompts.py
  apps/rag-service/app/query_processing.py
  apps/rag-service/app/qwen_client.py
  apps/rag-service/lambda_tool.py
  apps/rag-service/scripts/analyze_orphans.py
  apps/rag-service/scripts/audit_graph_quality.py
  apps/rag-service/scripts/backfill_pgvector_from_neo4j.py
  apps/rag-service/scripts/cleanup_graph.py
  apps/rag-service/scripts/crawl_ingest.py
  apps/rag-service/scripts/reembed_all.py
  apps/rag-service/tests/test_bedrock_embedding_client.py
  apps/rag-service/tests/test_ingestion.py
  apps/rag-service/tests/test_qwen_client.py
  docs/experiment-journal-ingest-query.md
  packages/infra-cdk/lib/monitoring-ec2-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

gather eval dataset for RAGAS
  apps/rag-service/scripts/examples/generated-eval-draft.jsonl
  apps/rag-service/scripts/examples/generated-eval-draft.md
Due: prettier --write

Add --delay flag to eval-agent for API throttle protection
  scripts/eval-agent.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

Add RAGAS CI/CD evaluation infrastructure
  .github/workflows/rag-eval.yml
  .github/workflows/update-ragas-baseline.yml
  .husky/pre-push
  eval/baselines/metrics-v1.json
  eval/thresholds.json
  package.json
  scripts/ragas_ci_gate.py
Due: prettier --write

Add eval dataset generator and v2 draft data (23 Q/A pairs)
  apps/rag-service/scripts/examples/generated-eval-draft-v2.jsonl
  apps/rag-service/scripts/generate_eval_dataset.py
Due: none

Fix Bedrock action properties parsing for list format
  apps/rag-service/app/bedrock_action.py
  apps/rag-service/tests/test_bedrock_action.py
  packages/shared/src/bedrockActionTypes.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

Fix Lambda deployment bugs: missing prometheus-client, sparse_backend 'none' validation, Qwen cloud config, and Bedrock IAM permissions
  apps/rag-service/app/config.py
  apps/rag-service/requirements.txt
  packages/infra-cdk/lib/bedrock-agents-stack.ts
Due: oxlint --tsconfig tsconfig.base.json --fix, prettier --write

Update v2 eval dataset with citation URLs and improved QA pairs
  apps/rag-service/scripts/examples/generated-eval-draft-v2.jsonl
Due: none

Improve eval dataset generator quality and add Ollama RAGAS provider
  apps/rag-service/scripts/examples/generated-eval-draft-v2.jsonl
  apps/rag-service/scripts/examples/generated-eval-draft-v2.md
  apps/rag-service/scripts/generate_eval_dataset.py
  scripts/ragas_eval.py
Due: prettier --write

Fix ruff lint errors in test_db_conn.py
  apps/rag-service/scripts/test_db_conn.py
Due: none

Fix RAGAS 0.4.3 compat and populate initial baseline
  apps/rag-service/scripts/examples/generated-eval-draft-v2.jsonl
  eval/baselines/metrics-v1.json
  eval/thresholds.json
  scripts/ragas_eval.py
Due: prettier --write

Fix baseline format to match gate script expectations
  eval/baselines/metrics-v1.json
Due: prettier --write

Update baseline from 19-row full eval and lower thresholds
  eval/baselines/metrics-v1.json
  eval/thresholds.json
Due: prettier --write
